.popup {
  background-color: rgba($color-black, 0.8);
  z-index: 5000;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: $border-radius-low;
    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port) {
      display: flex;
      flex-direction: row;
      width: 50%;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    & h2,
    h3 {
      @include respond(tab-port) {
        text-align: center;
      }
    }

    &-btn {
      @include respond(tab-port) {
        margin: 0 auto;
        text-align: center;
        width: auto;
      }
      @include respond(phone) {
        margin: 0 auto;
        text-align: center;
        width: auto;
      }
    }
    @include respond(tab-port) {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // open states

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
